In [1]:
import pandas as pd
import numpy as np

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [2]:
# read in complete data
complete = pd.read_csv("completeExpr.csv", index_col=0)

In [3]:
complete.shape

(3096, 14003)

In [4]:
complete = complete.transpose()

# reset colnames
complete.columns = ['p' + str(i) for i in range(1,len(complete.columns)+1)]
complete.head()

,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10,...,p3087,p3088,p3089,p3090,p3091,p3092,p3093,p3094,p3095,p3096
A1CF,0.034754,-1.035830,-0.644251,-0.301869,-0.508497,-0.100324,-0.402016,-0.082245,0.313805,-0.232225,...,-0.094521,0.146812,-0.143388,0.215818,-0.082560,-0.037184,-0.820075,-0.042315,0.103525,-0.025957
A2M,0.288997,-0.018051,-8.514246,0.015577,-0.638949,3.576826,-0.000895,-0.032116,0.370526,0.135253,...,0.044040,0.079441,-0.000599,0.568577,0.746766,0.193966,-0.031147,0.152870,-0.041297,0.213473
A2ML1,-0.442144,-0.519741,-1.903725,-0.741799,-0.938857,-0.478538,-0.580323,-0.709895,1.557578,2.350527,...,-0.276216,-0.097540,-0.510364,2.203258,0.316485,0.527467,-0.668684,0.305148,-0.710331,0.631003
A4GALT,0.002402,-0.146944,-0.334566,-0.406734,-0.500678,0.107965,-1.224029,-0.241390,0.207367,-0.312079,...,-0.088926,-0.047279,-0.180655,0.611447,1.753172,0.003910,-0.356796,-0.020981,-0.399086,0.008706
A4GNT,0.002245,-0.113014,-0.541670,-0.144658,-0.221380,0.594788,-2.391317,-0.699465,1.161750,0.860161,...,0.627779,-0.590147,-0.106350,2.749847,-0.553453,0.020364,-0.079092,-0.391635,0.958123,1.354622

In [5]:
# define function to calculate NRMSE
def nrmse(ori, imp):
    arr1 = ori.to_numpy()
    arr2 = imp.to_numpy()

    # Calculate RMSE
    rmse = np.sqrt(np.sum((arr1 - arr2) ** 2) / (ori.shape[0] * ori.shape[1]))
    # min-max 
    #nrmse = np.sqrt(mse / (np.max(arr1) - np.min(arr1)))
    # sd
    nrmse = rmse / np.std(arr1)

    return nrmse

### 1. Cutoff 10%

In [6]:
cutoff1 = pd.read_csv("Incomplete Datasets/cutoff0.1.csv", index_col=0)
cutoff1.head()

,"Simulation:1, Cutoff:0.1",NA,NA.1,NA.2,NA.3,NA.4,NA.5,NA.6,NA.7,NA.8,...,NA.3085,NA.3086,NA.3087,NA.3088,NA.3089,NA.3090,NA.3091,NA.3092,NA.3093,NA.3094
A1CF,0.034754,-1.035830,-0.644251,-0.301869,-0.508497,-0.100324,-0.402016,-0.082245,0.313805,-0.232225,...,-0.094521,0.146812,-0.143388,0.215818,-0.082560,-0.037184,-0.820075,-0.042315,0.103525,-0.025957
A2M,0.288997,-0.018051,-8.514246,0.015577,-0.638949,3.576826,-0.000895,-0.032116,0.370526,0.135253,...,0.044040,0.079441,-0.000599,0.568577,0.746766,0.193966,-0.031147,0.152870,-0.041297,0.213473
A2ML1,-0.442144,-0.519741,-1.903725,-0.741799,-0.938857,-0.478538,-0.580323,-0.709895,1.557578,2.350527,...,-0.276216,-0.097540,-0.510364,2.203258,0.316485,0.527467,-0.668684,0.305148,-0.710331,0.631003
A4GALT,0.002402,-0.146944,-0.334566,-0.406734,-0.500678,0.107965,-1.224029,-0.241390,0.207367,-0.312079,...,-0.088926,-0.047279,-0.180655,0.611447,1.753172,0.003910,-0.356796,-0.020981,-0.399086,0.008706
A4GNT,0.002245,-0.113014,-0.541670,-0.144658,-0.221380,0.594788,-2.391317,-0.699465,1.161750,0.860161,...,0.627779,-0.590147,-0.106350,2.749847,-0.553453,0.020364,-0.079092,-0.391635,0.958123,1.354622

In [7]:
# reset colnames
cutoff1.columns = ['p' + str(i) for i in range(1,len(cutoff1.columns)+1)]
cutoff1.head()

,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10,...,p3087,p3088,p3089,p3090,p3091,p3092,p3093,p3094,p3095,p3096
A1CF,0.034754,-1.035830,-0.644251,-0.301869,-0.508497,-0.100324,-0.402016,-0.082245,0.313805,-0.232225,...,-0.094521,0.146812,-0.143388,0.215818,-0.082560,-0.037184,-0.820075,-0.042315,0.103525,-0.025957
A2M,0.288997,-0.018051,-8.514246,0.015577,-0.638949,3.576826,-0.000895,-0.032116,0.370526,0.135253,...,0.044040,0.079441,-0.000599,0.568577,0.746766,0.193966,-0.031147,0.152870,-0.041297,0.213473
A2ML1,-0.442144,-0.519741,-1.903725,-0.741799,-0.938857,-0.478538,-0.580323,-0.709895,1.557578,2.350527,...,-0.276216,-0.097540,-0.510364,2.203258,0.316485,0.527467,-0.668684,0.305148,-0.710331,0.631003
A4GALT,0.002402,-0.146944,-0.334566,-0.406734,-0.500678,0.107965,-1.224029,-0.241390,0.207367,-0.312079,...,-0.088926,-0.047279,-0.180655,0.611447,1.753172,0.003910,-0.356796,-0.020981,-0.399086,0.008706
A4GNT,0.002245,-0.113014,-0.541670,-0.144658,-0.221380,0.594788,-2.391317,-0.699465,1.161750,0.860161,...,0.627779,-0.590147,-0.106350,2.749847,-0.553453,0.020364,-0.079092,-0.391635,0.958123,1.354622

In [8]:
# convert string 'NA' to np.nan
cutoff1 = cutoff1.replace("NA", np.nan)

# check for missing percent
cutoff1.isna().sum().sum() / (cutoff1.shape[0] * cutoff1.shape[1])

0.004719757357273571

The dataset has approximately 0.47% missing values. This is a relatively small proportion, and therefore, any of the imputation methods (mean, KNN, or MICE) could be used.

#### 1.1 KNN

In [9]:
from sklearn.impute import KNNImputer

In [10]:
# Initialize the KNN imputer
imputer = KNNImputer(n_neighbors=5)

# Perform the imputation
imputed1_KNN5 = imputer.fit_transform(cutoff1)

# Convert the imputed data back into a DataFrame and preserve the original index and column names
imputed1_KNN5 = pd.DataFrame(imputed1_KNN5, columns=cutoff1.columns, index=cutoff1.index)

#imputed1_KNN5.head()

In [11]:
nrmse(complete, imputed1_KNN5)

0.06493960572985888

In [12]:
# Initialize the KNN imputer
imputer = KNNImputer(n_neighbors=10)

# Perform the imputation
imputed1_KNN10 = imputer.fit_transform(cutoff1)

# Convert the imputed data back into a DataFrame and preserve the original index and column names
imputed1_KNN10 = pd.DataFrame(imputed1_KNN10, columns=cutoff1.columns, index=cutoff1.index)

imputed1_KNN10.head()

,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10,...,p3087,p3088,p3089,p3090,p3091,p3092,p3093,p3094,p3095,p3096
A1CF,0.034754,-1.035830,-0.644251,-0.301869,-0.508497,-0.100324,-0.402016,-0.082245,0.313805,-0.232225,...,-0.094521,0.146812,-0.143388,0.215818,-0.082560,-0.037184,-0.820075,-0.042315,0.103525,-0.025957
A2M,0.288997,-0.018051,-8.514246,0.015577,-0.638949,3.576826,-0.000895,-0.032116,0.370526,0.135253,...,0.044040,0.079441,-0.000599,0.568577,0.746766,0.193966,-0.031147,0.152870,-0.041297,0.213473
A2ML1,-0.442144,-0.519741,-1.903725,-0.741799,-0.938857,-0.478538,-0.580323,-0.709895,1.557578,2.350527,...,-0.276216,-0.097540,-0.510364,2.203258,0.316485,0.527467,-0.668684,0.305148,-0.710331,0.631003
A4GALT,0.002402,-0.146944,-0.334566,-0.406734,-0.500678,0.107965,-1.224029,-0.241390,0.207367,-0.312079,...,-0.088926,-0.047279,-0.180655,0.611447,1.753172,0.003910,-0.356796,-0.020981,-0.399086,0.008706
A4GNT,0.002245,-0.113014,-0.541670,-0.144658,-0.221380,0.594788,-2.391317,-0.699465,1.161750,0.860161,...,0.627779,-0.590147,-0.106350,2.749847,-0.553453,0.020364,-0.079092,-0.391635,0.958123,1.354622

In [13]:
nrmse(complete, imputed1_KNN10)

0.06463322553646865

In [14]:
# Initialize the KNN imputer
imputer = KNNImputer(n_neighbors=20)

# Perform the imputation
imputed1_KNN20 = imputer.fit_transform(cutoff1)

# Convert the imputed data back into a DataFrame and preserve the original index and column names
imputed1_KNN20 = pd.DataFrame(imputed1_KNN20, columns=cutoff1.columns, index=cutoff1.index)

imputed1_KNN20.head()

,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10,...,p3087,p3088,p3089,p3090,p3091,p3092,p3093,p3094,p3095,p3096
A1CF,0.034754,-1.035830,-0.644251,-0.301869,-0.508497,-0.100324,-0.402016,-0.082245,0.313805,-0.232225,...,-0.094521,0.146812,-0.143388,0.215818,-0.082560,-0.037184,-0.820075,-0.042315,0.103525,-0.025957
A2M,0.288997,-0.018051,-8.514246,0.015577,-0.638949,3.576826,-0.000895,-0.032116,0.370526,0.135253,...,0.044040,0.079441,-0.000599,0.568577,0.746766,0.193966,-0.031147,0.152870,-0.041297,0.213473
A2ML1,-0.442144,-0.519741,-1.903725,-0.741799,-0.938857,-0.478538,-0.580323,-0.709895,1.557578,2.350527,...,-0.276216,-0.097540,-0.510364,2.203258,0.316485,0.527467,-0.668684,0.305148,-0.710331,0.631003
A4GALT,0.002402,-0.146944,-0.334566,-0.406734,-0.500678,0.107965,-1.224029,-0.241390,0.207367,-0.312079,...,-0.088926,-0.047279,-0.180655,0.611447,1.753172,0.003910,-0.356796,-0.020981,-0.399086,0.008706
A4GNT,0.002245,-0.113014,-0.541670,-0.144658,-0.221380,0.594788,-2.391317,-0.699465,1.161750,0.860161,...,0.627779,-0.590147,-0.106350,2.749847,-0.553453,0.020364,-0.079092,-0.391635,0.958123,1.354622

In [15]:
nrmse(complete, imputed1_KNN20)

0.06461632363049331

In [18]:
# Initialize the KNN imputer
imputer = KNNImputer(n_neighbors=30)

# Perform the imputation
imputed1_KNN30 = imputer.fit_transform(cutoff1)

# Convert the imputed data back into a DataFrame and preserve the original index and column names
imputed1_KNN30 = pd.DataFrame(imputed1_KNN30, columns=cutoff1.columns, index=cutoff1.index)

In [19]:
nrmse(complete, imputed1_KNN30)

0.06471181828942471

In [15]:
#imputed1_KNN20.to_csv("Imputed Datasets/KNN_imputed0.1.csv")

#### ~~1.2 MICE~~

In [41]:
# from sklearn.experimental import enable_iterative_imputer
# from sklearn.impute import IterativeImputer

In [ ]:
# # Initialize the MICE imputer
# mice_imputer = IterativeImputer(random_state = 0, max_iter = 5)

# # Perform the imputation
# imputed1_mice = mice_imputer.fit_transform(cutoff1)

# # Convert the imputed data back into a DataFrame and preserve the original index and column names
# imputed1_mice = pd.DataFrame(imputed1_mice, columns=cutoff1.columns, index=cutoff1.index)

In [ ]:
# nrmse(complete, imputed1_mice)

#### ~~1.3 Autoencoder~~

In [15]:
# import torch
# from torch import nn
# from torch.optim import Adam
# from torch.utils.data import DataLoader, TensorDataset

In [20]:
# device = torch.device('mps' if torch.backends.mps.is_available() else 'cpu')
# device

device(type='mps')

In [21]:
# # Define the architecture of the Autoencoder
# class Autoencoder(nn.Module):
#     def __init__(self, num_features):
#         super(Autoencoder, self).__init__()
#         self.encoder = nn.Sequential(
#             nn.Linear(num_features, 128),
#             nn.ReLU(),
#             nn.Linear(128, 64),
#             nn.ReLU(),
#             nn.Linear(64, 32),
#         )
#         self.decoder = nn.Sequential(
#             nn.Linear(32, 64),
#             nn.ReLU(),
#             nn.Linear(64, 128),
#             nn.ReLU(),
#             nn.Linear(128, num_features),
#         )

#     def forward(self, x):
#         x = self.encoder(x)
#         x = self.decoder(x)
#         return x

# data = cutoff1.values
# dataset = TensorDataset(torch.from_numpy(data).float().to(device))
# dataloader = DataLoader(dataset, batch_size=32, shuffle=True)

# # Initialize the Autoencoder and the optimizer
# model = Autoencoder(num_features=data.shape[1]).to(device)
# optimizer = Adam(model.parameters(), lr=1e-3)

# # Training loop
# num_epochs = 100
# for epoch in range(num_epochs):
#     for batch in dataloader:
#         batch = batch[0]
#         optimizer.zero_grad()
#         outputs = model(batch.float())
#         loss = nn.MSELoss()(outputs, batch.float())
#         loss.backward()
#         optimizer.step()
#     print(f'Epoch {epoch+1}/{num_epochs}, Loss: {loss.item()}')

# # Impute the missing values
# data_imputed = model(torch.from_numpy(data).float().to(device)).data.numpy()

#### 1.2 Mean Imputation

In [10]:
from sklearn.impute import SimpleImputer

In [11]:
# Mean imputation
mean_imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputed1_Mean = pd.DataFrame(mean_imputer.fit_transform(cutoff1), columns=cutoff1.columns)

In [12]:
nrmse(complete, imputed1_Mean)

0.06868500684992951

#### 1.2.2 Median Imputation

In [13]:
# Median imputation
median_imputer = SimpleImputer(missing_values=np.nan, strategy='median')
imputed1_Median = pd.DataFrame(median_imputer.fit_transform(cutoff1), columns=cutoff1.columns)

In [14]:
nrmse(complete, imputed1_Median)

0.06908279349635449

#### 1.3 Mode Imputation

In [15]:
# Mode imputation
mode_imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
imputed1_Mode = pd.DataFrame(mode_imputer.fit_transform(cutoff1), columns=cutoff1.columns)

/opt/anaconda3/lib/python3.9/site-packages/sklearn/impute/_base.py:49: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode = stats.mode(array)

In [16]:
nrmse(complete, imputed1_Mode)

0.10841743912426982

#### ~~1.4 Random Forest Imputation~~

In [21]:
# from sklearn.experimental import enable_iterative_imputer
# from sklearn.impute import IterativeImputer
# from sklearn.ensemble import RandomForestRegressor

In [22]:
# # Create an IterativeImputer instance with a Random Forest estimator
# rf_imputer = IterativeImputer(estimator=RandomForestRegressor(n_estimators=10, random_state=0))

# # Perform the imputation
# imputed1_rf = pd.DataFrame(rf_imputer.fit_transform(cutoff1), columns=cutoff1.columns)

### 2. Cutoff 20%

In [23]:
cutoff2 = pd.read_csv("Incomplete Datasets/cutoff0.2.csv", index_col=0)
cutoff2.head()

,A1CF,A2M,A2ML1,A4GALT,A4GNT,AAAS,AACS,AADAC,AADACL2,AADAT,...,ZW10,ZWILCH,ZWINT,ZXDA,ZXDC,ZYG11A,ZYG11B,ZYX,ZZEF1,ZZZ3
1,0.034754,0.288997,-0.442144,0.002402,0.002245,0.054584,2.196306,-0.185888,NaN,-0.359589,...,-0.518579,-0.421801,0.545304,-0.186289,0.233972,-0.442144,-0.792979,0.731285,-0.883755,-1.304003
2,-1.035830,-0.018051,-0.519741,-0.146944,-0.113014,0.531820,-0.100589,-0.477632,NaN,-0.267183,...,-0.646888,-0.603879,-0.124688,-0.260088,0.732149,0.072879,-0.276907,0.851401,0.979394,0.469300
3,-0.644251,-8.514246,-1.903725,-0.334566,-0.541670,2.612846,-0.701680,-0.519429,NaN,-1.006750,...,0.925514,-0.012108,-0.179786,-0.669706,0.835785,-0.741799,-0.581158,0.043900,0.529887,1.079319
4,-0.301869,0.015577,-0.741799,-0.406734,-0.144658,-0.527001,0.031789,-0.419919,NaN,0.236881,...,0.842103,2.328884,-0.215270,-0.071082,-1.103875,-0.600354,0.751604,-1.625300,-3.415121,1.278989
5,-0.508497,-0.638949,-0.938857,-0.500678,-0.221380,-0.028908,-0.542586,-0.369666,NaN,-0.515418,...,1.316377,0.664992,-0.922036,-0.370657,0.115881,-0.797875,0.985905,-1.408760,-0.403130,0.870526

In [24]:
cutoff2 = cutoff2.transpose()

# reset colnames
cutoff2.columns = ['p' + str(i) for i in range(1,len(cutoff2.columns)+1)]
cutoff2.head()

# convert string 'NA' to np.nan
cutoff2 = cutoff2.replace("NA", np.nan)

# check for missing percent
cutoff2.isna().sum().sum() / (cutoff2.shape[0] * cutoff2.shape[1])

0.007198462086658802

#### 2.1 KNN

In [25]:
# Initialize the KNN imputer
imputer = KNNImputer(n_neighbors=20)

# Perform the imputation
imputed2_KNN20 = imputer.fit_transform(cutoff2)

# Convert the imputed data back into a DataFrame and preserve the original index and column names
imputed2_KNN20 = pd.DataFrame(imputed2_KNN20, columns=cutoff2.columns, index=cutoff2.index)

In [26]:
nrmse(complete, imputed2_KNN20)

0.07906864847903837

In [27]:
#imputed2_KNN5.to_csv("imputed0.2.csv")

#### 2.2 Mean Imputation

In [28]:
# Mean imputation
mean_imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputed2_Mean = pd.DataFrame(mean_imputer.fit_transform(cutoff2), columns=cutoff2.columns)

In [29]:
nrmse(complete, imputed2_Mean)

0.08337840912172252

#### 2.3 Median Imputation

In [30]:
# Median imputation
median_imputer = SimpleImputer(missing_values=np.nan, strategy='median')
imputed2_Median = pd.DataFrame(median_imputer.fit_transform(cutoff2), columns=cutoff2.columns)

In [31]:
nrmse(complete, imputed2_Median)

0.08383295738498484

#### 2.4 Mode Imputation

In [32]:
# Mode imputation
mode_imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
imputed2_Mode = pd.DataFrame(mode_imputer.fit_transform(cutoff2), columns=cutoff2.columns)

/opt/anaconda3/lib/python3.9/site-packages/sklearn/impute/_base.py:49: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode = stats.mode(array)

In [33]:
nrmse(complete, imputed2_Mode)

0.1348843927798905

### 3. Cutoff 30%

In [34]:
cutoff3 = pd.read_csv("Incomplete Datasets/cutoff0.3.csv", index_col=0)
cutoff3.head()

,A1CF,A2M,A2ML1,A4GALT,A4GNT,AAAS,AACS,AADAC,AADACL2,AADAT,...,ZW10,ZWILCH,ZWINT,ZXDA,ZXDC,ZYG11A,ZYG11B,ZYX,ZZEF1,ZZZ3
1,0.034754,0.288997,-0.442144,0.002402,0.002245,0.054584,2.196306,-0.185888,0.357290,-0.359589,...,-0.518579,-0.421801,0.545304,-0.186289,0.233972,-0.442144,-0.792979,0.731285,-0.883755,-1.304003
2,-1.035830,-0.018051,-0.519741,-0.146944,-0.113014,0.531820,-0.100589,-0.477632,0.566360,-0.267183,...,-0.646888,-0.603879,-0.124688,-0.260088,0.732149,0.072879,-0.276907,0.851401,0.979394,0.469300
3,-0.644251,-8.514246,-1.903725,-0.334566,-0.541670,2.612846,-0.701680,-0.519429,-0.486846,-1.006750,...,0.925514,-0.012108,-0.179786,-0.669706,0.835785,-0.741799,-0.581158,0.043900,0.529887,1.079319
4,-0.301869,0.015577,-0.741799,-0.406734,-0.144658,-0.527001,0.031789,-0.419919,-0.245358,0.236881,...,0.842103,2.328884,-0.215270,-0.071082,-1.103875,-0.600354,0.751604,-1.625300,-3.415121,1.278989
5,-0.508497,-0.638949,-0.938857,-0.500678,-0.221380,-0.028908,-0.542586,-0.369666,-1.246111,-0.515418,...,1.316377,0.664992,-0.922036,-0.370657,0.115881,-0.797875,0.985905,-1.408760,-0.403130,0.870526

In [35]:
cutoff3 = cutoff3.transpose()

# reset colnames
cutoff3.columns = ['p' + str(i) for i in range(1,len(cutoff3.columns)+1)]
cutoff3.head()

# convert string 'NA' to np.nan
cutoff3 = cutoff3.replace("NA", np.nan)

# check for missing percent
cutoff3.isna().sum().sum() / (cutoff3.shape[0] * cutoff3.shape[1])

0.008357266927481947

#### 3.1 KNN

In [36]:
# Initialize the KNN imputer
imputer = KNNImputer(n_neighbors=20)

# Perform the imputation
imputed3_KNN20 = imputer.fit_transform(cutoff3)

# Convert the imputed data back into a DataFrame and preserve the original index and column names
imputed3_KNN20 = pd.DataFrame(imputed3_KNN20, columns=cutoff3.columns, index=cutoff3.index)

imputed3_KNN20.head()

,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10,...,p3087,p3088,p3089,p3090,p3091,p3092,p3093,p3094,p3095,p3096
A1CF,0.034754,-1.035830,-0.644251,-0.301869,-0.508497,-0.100324,-0.402016,-0.082245,0.313805,-0.232225,...,-0.094521,0.146812,-0.143388,0.215818,-0.082560,-0.037184,-0.820075,-0.042315,0.103525,-0.025957
A2M,0.288997,-0.018051,-8.514246,0.015577,-0.638949,3.576826,-0.000895,-0.032116,0.370526,0.135253,...,0.044040,0.079441,-0.000599,0.568577,0.746766,0.193966,-0.031147,0.152870,-0.041297,0.213473
A2ML1,-0.442144,-0.519741,-1.903725,-0.741799,-0.938857,-0.478538,-0.580323,-0.709895,1.557578,2.350527,...,-0.276216,-0.097540,-0.510364,2.203258,0.316485,0.527467,-0.668684,0.305148,-0.710331,0.631003
A4GALT,0.002402,-0.146944,-0.334566,-0.406734,-0.500678,0.107965,-1.224029,-0.241390,0.207367,-0.312079,...,-0.088926,-0.047279,-0.180655,0.611447,1.753172,0.003910,-0.356796,-0.020981,-0.399086,0.008706
A4GNT,0.002245,-0.113014,-0.541670,-0.144658,-0.221380,0.594788,-2.391317,-0.699465,1.161750,0.860161,...,0.627779,-0.590147,-0.106350,2.749847,-0.553453,0.020364,-0.079092,-0.391635,0.958123,1.354622

In [37]:
nrmse(complete, imputed3_KNN20)

0.08572246602675775

#### 3.2 Mean Imputation

In [38]:
# Mean imputation
mean_imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputed3_Mean = pd.DataFrame(mean_imputer.fit_transform(cutoff3), columns=cutoff3.columns)

In [39]:
nrmse(complete, imputed3_Mean)

0.09029875323711936

#### 3.3 Median Imputation

In [40]:
# Median imputation
median_imputer = SimpleImputer(missing_values=np.nan, strategy='median')
imputed3_Median = pd.DataFrame(median_imputer.fit_transform(cutoff3), columns=cutoff3.columns)

In [41]:
nrmse(complete, imputed3_Median)

0.09078642419399732

#### 3.4 Mode Imputation

In [42]:
# Mode imputation
mode_imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
imputed3_Mode = pd.DataFrame(mode_imputer.fit_transform(cutoff3), columns=cutoff3.columns)

/opt/anaconda3/lib/python3.9/site-packages/sklearn/impute/_base.py:49: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode = stats.mode(array)

In [43]:
nrmse(complete, imputed3_Mode)

0.145922055611472